
.main{
  overflow-y: hidden;
margin: 0;
padding: 0;
box-sizing: border-box;
}
.home{
  background-color: #BDB76B;
  padding: 20px;
  margin-top: 50px;
  border-radius: 160px 80px;
  max-width: 100%;
  overflow: hidden;
}
.home Button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  margin: 10px 220px;
  border-radius: 50px;
}
.menu {
  position: relative;
  z-index: 0;
}

.menu::before,
.menu::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; 
}

.menu::before {
  left: 0;
  background-image: url(./components/images/banner.png); 
}

.menu::after {
  right: 0;
  background-image: url(./components/images/banner2.png);
}
.about{
  background-color: #855E42;
  padding: 20px;
  margin-top: 50px;
  border-radius: 160px 80px;
  max-width: 100%;
  overflow: hidden;
}
